@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.title--small {
	font-size: 16px;
}

.header {
	display: flex;
	justify-content: flex-end;
}

.choose {
	display: grid;
	gap: s.space(6);
}

.choose__item {
	display: grid;
	grid-template-columns: 56px 1fr;
	gap: s.space(6);
}

.choose__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: s.space(10);
}

.form__fild {
	width: 100%;
	font-size: 64px;
	color: s.color(light);
	text-align: center;
	padding: s.space(4);
	border-bottom: 1px solid s.color(gray);
}

.form__button {
	background-color: s.color(green);
	padding: s.space(3) s.space(10);
	border-radius: 50px;
	font-size: 20px;
	max-width: fit-content;

	transition: opacity 0.6s;

	&:hover {
		opacity: 0.6;
	}
}

.playlist {
	display: flex;
	flex-direction: column;
}

.track__list-color {
	background-color: #282828;
	width: 100%;
	padding: s.space(6) s.space(8);
	border-radius: 8px;
}