{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data}}
  <section class="main__content">
    <header class="header">
      <h1 class="header__title">Моя бібліотека</h1>
      <div class="header__icons">
        <a href="/spotify-search" class="header__icon">
          <img src="/svg/spotify-serch.svg" alt="search" class="icon">
        </a>
        <a href="/spotify-choose" class="header__icon">
          <img src="/svg/icon-add.svg" alt="add" class="icon">
        </a>
      </div>
    </header>

    <ul class="playlist__list">
      {{#each list}}
      <a href="/spotify-track-add?playlistId={{id}}" class="playlist__item">
        <li class="playlist__content">
          <img src="{{image}}" alt="" class="playlist__image">
          <strong class="title">{{name}}</strong>
          <p class="text">{{amount}} пісень</p>
        </li>
      </a>
      {{/each}}
    </ul>
  </section>
  {{/with}}
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}