@use '../../lib/service.scss' as s;
main {
    display: flex;
    flex-direction: column;
    gap: s.space(3);

    max-width: 1000px;
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: s.space(5); 
    color: blue;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
    }

    &__content {
        display: grid;
        gap: s.space(6);
        padding: s.space(6);

        border: 1px solid s.color('light');
        border-radius: 24px;
        background: rgb(248, 246, 246);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: s.space(6);
    }

    &__field1 {
        display: flex;
        flex-direction: column;
        gap: s.space(3);
        max-width: 100%;
        width: 100%;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
    }

    &__label {
        font-size: 14px;
    }

    &__input {
        border: 1px solid s.color('light');
        padding: s.space(2);
        background: rgb(251, 247, 247);
    }

    &__button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 10px;
        background-color: rgb(104, 104, 254);
        color: white;
    }
}
