@use '../../lib/service.scss' as s;
.card {
  padding: s.space(4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &__productId {
    color: gray;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-size: 20px;
    font-weight: bold;
  }
  &__editLink {
    color: blue;
    text-decoration: none;
  }
  &__editLink:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}
